<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body style="position: relative;margin: 0px;">
    <div class="alert alert-success" role="alert" style="text-align: center;"><span style="text-align: center;"><strong>Você tem certeza que deseja deletar este paciente?</strong></span></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;color: var(--bs-border-color-translucent);"><button class="btn btn-primary d-inline" type="button" style="border-color: var(--bs-black);box-shadow: 2px 2px 4px rgb(75,75,75);margin: 0px;margin-top: 0px;margin-left: auto;">Cancelar</button><button class="btn btn-primary d-inline" type="button" style="background: rgb(253,13,42);border-color: rgb(0,0,0);box-shadow: 2px 2px 4px 2px rgb(75,75,75);margin: 0px;">Deletar</button></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>