<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Deletar paciente</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <p style="text-align: center;font-size: 28px;background: var(--bs-red);box-shadow: 7px 7px 8px;border: 1px solid rgb(0,0,0);">Tem certeza que deseja deletar este paciente?</p>
    <figure>
        <blockquote class="blockquote">
            <p class="mb-0" style="text-align: center;">O paciente será deletado e qualquer passagem ou dado sobre ele será excluído permanentemente.</p>
        </blockquote>
        <figcaption class="blockquote-footer" style="text-align: center;font-size:30px;font-weight: bold;">Paciente:{{object.nome}}</figcaption>
    </figure>
    <form style="text-align: center;" method="post">{% csrf_token %}
        <button class="btn btn-primary" type="submit" style="background: rgb(255,42,42);border-color: rgb(0,0,0);box-shadow: 2px 3px 3px rgb(0,0,0);">Deletar</button>
    </form>
    <script src="static 'js/bootstrap.min.js'"></script>
</body>

</html>